<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36544421419-uf33npu7m8mh78s443k3vldp346uiict.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36544421419-uf33npu7m8mh78s443k3vldp346uiict</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>36544421419-js4p6m8s0d7r3n3l89m29jc6dl76f9hf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEHfRNOVmeNEeL0Uhmth6wFK5jZjwqbAs</string>
	<key>GCM_SENDER_ID</key>
	<string>36544421419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptinterview.appTinterview</string>
	<key>PROJECT_ID</key>
	<string>apptinterview-9c173</string>
	<key>STORAGE_BUCKET</key>
	<string>apptinterview-9c173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36544421419:ios:54aca0357cbc2ee423146e</string>
	<key>DATABASE_URL</key>
	<string>https://apptinterview-9c173-default-rtdb.firebaseio.com</string>
</dict>
</plist>